name: Build Pipeline

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Generate build-info.txt
        run: |
          echo "185.0.0" > build-info.txt

      - name: Upload artifact
        uses: actions/upload-artifact@v3
        with:
          name: build-info
          path: build-info.txt
